* {
    box-sizing: border-box;

}

#container-header {
    width: 100%;
    display: flex;
  
    
}

.logo {
    padding-top: 5px;
}

.social-connect {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 17px;
}

.login {
    border: none;
}

.nav-bar {
    display:flex;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
    
}

.nav-bar li {
    display: flex;
    justify-content:space-between;
    padding: 10px 10px;
   
}

a {
    text-decoration: none;
  
}