* {
    box-sizing: border-box;

}

/* Container header start */
#container-header {
    width: 100%;
    display: flex;


}

.logo {
    padding-top: 5px;
}

.social-connect {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 17px;

}

hr {
    opacity: 0.2;

}





.login {
    border: none;
}

.nav-bar {
    display: flex;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;


}

.nav-bar li {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;


}



a {
    text-decoration: none;
    color: #333333;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

a:hover {
    color: #00C9B2;
}

.nav-bar .search {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 50px;

}

/* Container header end */

/* slide section start */
.slide {
    padding: 100px 0px;
    /* border: 1px solid gray; */
    background-image: url(/My-Project/img/slider-classic-slide-1-1920x710.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide-content {
    /* max-width: 400px; */
    padding-left: 130px;
}

.slide-heading h1 {
    font-size: 3.5em;
    font-weight: 700;
    color: #FEFEFE;
    font-family: 'Space Mono', monospace
}

.slide-description p {
    margin: 40px 0px;
    color: #FEFEFE;
    font-size: 20px;
    font-family: 'Space Mono', monospace
}

.slide-buttons {
    width: 160px;
    height: 50px;
    /* font-size: 3.5rem; */
    display: inline-block;
    padding: 15px 35px;
    position: relative;
    background-color: #01C5B9;
    font-family: 'Space Mono', monospace
}

.slide-buttons a {
    position: absolute;
    color: #FEFEFE;
    font-size: 1.1rem;
    font-weight: 300;
}

/* slide section end */

/* Service hedading section start */
.service-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace
}




/* Service section start */

#service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 20px;
}

.service-item {

    padding: 15px;
    border: 1px solid gray;
}