* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preloader {
    width: 100%;
    height: 100vh;
    position: relative;
}

.preloader-logo {
    width: 100%;
    height: 100%;
    position: absolute;

}

.preloader-logo img {
    position: absolute;
    top: 40%;
    left: 44%;
}