/* About picture section start */

#picture-container {
    width: 100%;
    height: 100%;
    background-image: url(/My-Project/MyProject/img/bg-image-5-1920x1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.picture-heading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    font-size: 20px;
    color: #fff;
}

/* About picture section end */