/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-bar {
    display: none;
  }

 .nav-bar-mobile {
   opacity: 1;
   
 }

 .nav-bar-mobile ul {
   opacity: 0;
 }

 .nav-bar-mobile:hover ul {
   opacity: 1;
 }



 /* .slide {
   box-sizing: border-box;
   width: 100%;
   margin: 0;
 } */

 .slide {
   width: 100%;
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
 }

 .slide-content {
   width: 100%;
   margin: 0;
   background-position: center;
   padding: 0px;
 }

 .service-heading {
   width: 50%;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
 }

 #service-container {
   width: 50%;
  display: block;
 }





  

   
    

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
  }