* {
    box-sizing: border-box;

}

/* Container header start */
#container-header {
    width: 100%;
    display: flex;


}

.logo {
    padding-top: 5px;
}

.social-connect {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 17px;

}

hr {
    opacity: 0.2;

}





.login {
    border: none;
}

.nav-bar {
    display: flex;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;


}

.nav-bar li {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;


}



a {
    text-decoration: none;
    color: #333333;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

a:hover {
    color: #00C9B2;
}

.nav-bar .search {

    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    padding: 0px 100px;
   

}

/* Container header end */

/* slide section start */
.slide {
    padding: 100px 0px;
    /* border: 1px solid gray; */
    background-image: url(/My-Project/MyProject/img/slider-classic-slide-1-1920x710.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide-content {
    /* max-width: 400px; */
    padding-left: 130px;
}

.slide-heading h1 {
    font-size: 3.5em;
    font-weight: 700;
    color: #FEFEFE;
    font-family: 'Space Mono', monospace
}

.slide-description p {
    margin: 40px 0px;
    color: #FEFEFE;
    font-size: 20px;
    font-family: 'Space Mono', monospace
}

.button {

    display: inline-block;
    background-color: #01C5BA;
    /* padding: 20px 20px; */
    padding: 10px 20px;
    transition: 2s;
    border-radius: 10px;

}

.button:hover {
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */

    transform: scale(1.5);
    border-radius: 50%;
}

.button a {
    color: #fff;
    font-size: 25px;
}



/* slide section end */

/* Service hedading section start */
.service-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace
}

.service-heading h2 {
    color: #00C9B2;
}

/* Service heading section end */




/* Service section start */

#service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;

}

.service-item {

    padding: 15px;
    /* border: 1px solid gray; */
    text-align: center;
    overflow: hidden;

}

.service-item h2 {
    color: #565656;
}

.service-item p {
    color: #565656;
}

.icon {
    display: flex;
    justify-content: center;
    /* font-size: 50px; */
    color: #47D6CC;
    transition: 1s;
}

.icon:hover {
    transform: scale(1.5, 1.5);
    /* transform: rotate(360deg); */
    cursor: pointer;
}

.services-button {
    background-color: transparent;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;

}

/* 
@keyframes  example {
    from {background-color: transparent;}
    to {background-color: aqua;}
  
} */

.services-button a {
    color: #565656;
}

.services-button:hover {
    /* background-color: ; */
    background-color: #47D6CC;
    transition: 2s;
    /* animation-name: example ;
    animation-duration: 3s; */


}

.services-button a:hover {
    color: #fff;
    cursor: pointer;
}

/* service section end */

/* pricing plans section start */

#pricing-plans-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.pricing-plan-item {
    box-shadow: 0px opx 5px black;

    padding: 0px 10px;
    text-align: center;
}

.price {
    font-size: 70px;
}

.pricing-plan-button {
    border: aqua;
}

/* Pricing plan section end */

/* why choose us section start */

#why-choose-us-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;

}

.why-choose-us-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
}

.item-logo {
    font-size: 40px;
    color: #47D6CC;
    padding: 30px 0px;
}

.item-logo:hover {
    transform: translateY(20px);
}

/* why choose us section end */

/* Abot us section start */

/* .about-us-container {
    background-color: #76808A;
    margin: 50px 0px;
    display: flex;
}

.about-us-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    font-size: 25px;

}

.about-us-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto auto; */
    /* color: #fff; */
/* } */

/* .big {
    font-size: 50px;
}

.about-us-items-icon {
    padding: 70px 0px;
    font-size: 40px;
}  */

/* Abot us section end */